* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Norse;
  src: url(Fonts/Norse-Bold.otf);
}

#picArea{
    background-image: url(images/plants.jpg);
    background-size: cover;
    width: 35vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 200px;
}

#odinLogo{
  display: flex;
  height: 200px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */

}

#odinWords{
  text-align: center;
  color: white;
  padding-top: 50px;
  font-family: Norse;
  font-size: 100px;
}